---
layout: base.njk
title: About
permalink: /about/
---
<section class="prose-page">
  <p class="eyebrow">Ship's log</p>
  <h1>About this site</h1>
  <p>
    This is a site that I don't know what to do with yet.
    For now I added a blog, where I will post my thoughts,
    maybe some guides or personal notes. In the future I will try
    to post some more things about tools I like and such.
    Stay tuned!


    Built by Racor with <a href="https://www.11ty.dev/">Eleventy</a>
  </p>
</section>
